name = "bucket-test"
type = "javascript"
route = ''
zone_id = ''
usage_model = ''
compatibility_flags = []

compatibility_date = "2021-10-02"

workers_dev = true
account_id = ""

[site]
bucket = "./build"
entry-point = "./workers-site"


[build]
command = ""
# npm install && npm run build"

[build.upload]
format = "service-worker"
